body{
    margin: 0px;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}



header{
    position: sticky;
    top: 0;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    background-color: #ff3a10;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;


}

aside{
    float: left;
    background-color: coral;
    height: 600px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.4);

}

#content{
    float: left;
    margin: 0px auto 0px auto;
    min-width: 200px;
    max-width: 700px;
}

footer{
    background-color: #ff3a10;
    clear: both;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    text-decoration-color: aliceblue;
    box-shadow: 8px -8px 8px 0px rgba(0,0,0,0.3);

}

.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 500px;
    padding: 20px;
    background-color: #ffb497;
    border: 5px solid #ff7053;
    cursor: pointer;
}
.profile-img:hover{
    background-color: #633b2b;
}

.profile-info-list{
    color: rgba(255, 255, 255, 0.55);
    text-transform: uppercase;
}
.profile-info-list:hover{
    color: rgba(255, 255, 255, 1);

}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#about{
    margin-bottom: 10px;
    font-size: 50px;
}

.text-primary{
    color: #bd5d38;
}

.right-align{
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;

}

.right-align-setting{
    float: right;
    padding-left: 40px;
    padding-right: 40px;


}

.right-align:hover{
    background-color: #ec604b;
}

.sign-img{
    height: 40px;
    width: 90px;
    margin-left: 10px;
    border-radius: 10px;
}

article{
    margin-bottom: 200px;
}

@media (max-width: 1200px) {
    aside, section {
        width: 100%;
        height: auto;
        max-width: 1200px;
    }
}

.dropdown{
    position: relative;
    cursor: pointer;

}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 30px;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fd3a10;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    /*margin-top: 100px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.dropdown-content a{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    /*cursor: pointer;*/
}

.dropdown-content a:hover{
    background-color: #cb1c01;
}